
/*Consistent CSS*/
body {
    background-color: lightgoldenrodyellow;
}

.navbar-brand {
    background-color: lightgoldenrodyellow;
}

.headings {
    text-align: left;
}

.heading {
    color: teal;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#indexImage {
    float: left;
    width: 75%;
    height: auto;
    margin: 25px;
    padding: 15px 15px 15px 15px;
}

#photoHeader {
    text-align: left;
    border: white;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

 .gallery {
     border: white;
     padding: 25px 25px 25px 25px;
     margin: 50px 50px 50px 50px;
     background-color: white;  
 }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: lightgoldenrodyellow;
    text-align: center;
  }

/*Everything less than 767px*/
@media screen and (max-width: 767px) {
form {
    width: 100%;
    background-color: white;
    margin: 25px;
    padding: 15px 15px 15px 15px;
    width: 75%;
    height: auto;
    
}

                                    }


/*Everything less than 991px and greater than 768*/
@media screen and (min-width: 768px) and (max-width: 991px) {

form {
    width: 100%;
    background-color: white;
    margin: 25px;
    padding: 15px 15px 15px 15px;
    width: 75%;
    height: auto;
    }


                                                             }
/*Everything greater than 992px*/
@media screen and (min-width: 992px) {

    
form {
    width: 100%;
    background-color: white;
    margin: 25px;
    padding: 15px 15px 15px 15px;
    width: 75%;
    height: auto;
    }
                                    }

