
/*Consistent CSS*/
body {
    background-image: url(Images/backgroundimg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand {
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.nav-item {
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.media-object {
    padding: 15px 15px 15px 15px;
}

.media-heading {
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    color: #FFB6C1;
    background-color: black;
    margin: 15px;

}

div.media-body {
    display: inline-block;
}

.media-body p {
    background-color: #FFB6C1;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 5px 15px 5px;
}

.card-body {
    background-color: #FFB6C1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-title {
    font-weight: 700;
}

.btn {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font {
    background-color: black;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    color: #FFB6C1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: black;
    text-align: center;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
  }


/*Everything less than 767px*/
@media screen and (max-width: 767px) {

                                    }


/*Everything less than 991px and greater than 768*/
@media screen and (min-width: 768px) and (max-width: 991px) {


                                                             }
/*Everything greater than 992px*/
@media screen and (min-width: 992px) {

                                    }

